body{
    background-color: #fcfcfc;
}
.main{
    direction: rtl;
}
.slick-list{
    direction: ltr;
}
.slick-arrow{
    display: none !important;
}
.balam-shvav h1{
font-size: 40px !important;
font-weight: 700 !important;
line-height: 1.4;
 letter-spacing: .4px;
}
.balam-shvav h2, .main-subtitle, .section_contact h4{
font-size: 30px !important;
font-weight: 700  !important;
text-align: center;
line-height: 1.4;
    letter-spacing: .4px;
}
.properties_content h3, .section_contact h5, #sectionForm label, .balam-shvav .contact-title{
font-size: 25px !important;
font-weight: 600  !important;
}
.properties_content p, .contact_btns a p, #sectionForm label, #sectionForm button[type="submit"]{
font-size: 17px  !important;
font-weight: 300  !important; 
}
.contact_btns a p{
font-weight: 600  !important;
}
 *{
  font-family: "Assistant", sans-serif !important;
}
.header-cont{
width: 100%;
max-width: 100%;
background-color: #222222	;

}
.balam-shvav .header{
display: flex;
width: 90%;
max-width: 90%;
margin: 0 auto;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
color: #fff;
}
.balam-shvav{
width: 100%;
max-width: 100%;
margin: 0 auto;
}
.balam-shvav .main{
width: 100%;
margin: 0 auto;
}

.header-logo img{
width: 150px;
}
.header-contacts {
  display: flex;
  gap: 16px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  text-decoration: none;
  transition: all 0.3s ease;
      filter: grayscale(1);
}

.icon img{
width: 100%;
margin: 0;
  filter: brightness(0) invert(1);

}
.balam-shvav .main-banner{
width: 100%;
background: url('./images/main-banner.webp');
background-size: cover;
background-position: center;
height: 270px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
}
.balam-shvav h2{
color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
z-index: 2;


}
.balam-shvav .main-banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* adjust opacity as needed */
  z-index: 1;
}
.properties-cont{
display: flex;
width: 100%;
}
.video .properties-cont{
  flex-direction: row-reverse;
  margin-top: 30px;
}
.properties_slider, .properties_content, .video-cont{
width: 50%;
}
.balam-shvav p{
color: #1c1c1c;
}
.properties_slider, .video-cont {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
height: 100%;
}
.properties_slider img {
  width: 100%;
  height: 100%;
  display: block !important;
  border-radius: inherit;
 
}
.properties_content{
padding: 0 50px;
}
.properties_content p{
position: relative;
padding-right: 30px;
line-height: 1.4;
}
.properties_content p::before {
    content: "✔";
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #16415F;
    background: transparent;
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    line-height: 7px;
    text-align: center;
    letter-spacing: -5px;
}
.main-subtitle{
text-align: center;
padding: 10px 0;
width: 90%;
margin-right: auto;
margin-left: auto;
}
.section_contact{
width: 1000px;
max-width: 85%;
margin: 60px auto;
padding: 30px 0;

}
.contact_bg{
background: url('./images/contact-bg.webp');

}
.contact_btns{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.contact_btns .card{
 width: 32%;
margin-bottom: 20px;
text-align: center;
border: 2px solid #16415F;
border-radius: 10px;
padding: 20px;
text-decoration: none;
box-shadow: 0 6px 12px rgba(22, 65, 95, 0.15);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
background: #fff;

}
.contact_btns .card:hover {
  
  transform: translateY(2px);
}
.contact_btns p{
color: #16415F;
}
.section_contact h5{
text-align: center;
}
.contact_btns .card img{
 width: 60px;
}
#sectionForm{
display: flex;
width: 1200px;
max-width: 90%;
margin: 0 auto;
}
#sectionForm img{
width: 50%;
border-radius: 10px;
object-fit: cover;
object-position: left;;
}
#sectionForm label {
color: #16415F !important;
margin: 10px 0;
display: inline-block;
}
#sectionForm form{
        direction: rtl;
    text-align: right;
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}


#sectionForm form input , #sectionForm form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.section_contact h4, .section_contact h5{
color: #fff;
}
.balam-shvav .contact-title{
    font-size: 18px;
    text-align: center;
    color: #16415F !important;

}
#sectionForm button[type="submit"]{
background: #16415F;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.section_footer{
background: #222222;
color: #fff;
padding: 20px 0;
margin-top: 40px;
}
.header-contacts h1{
  display: none;
}
@media screen and (max-width: 700px){

.header-logo{
order: 1;
}
.header-title{
display: none;
}

.header-contacts{
  flex-wrap: wrap;
  width: 50%;
}
.header-contacts h1{
  display: block;
  text-align: center;
  margin: 0;
}
.header-contacts .icon{
  flex: 1;
}
.header-logo img{
width: 130px;
}
.balam-shvav h1{
font-size: 26px !important;
font-weight: 700 !important;
}
.balam-shvav h2, .main-subtitle, .section_contact h4{
font-size: 24px !important;
font-weight: 700  !important;
text-align: center;
}
.properties_content h3, .section_contact h5, #sectionForm label, .balam-shvav .contact-title{
font-size: 22px !important;
font-weight: 600  !important;
}
.properties_content p, .contact_btns a p, #sectionForm  label, #sectionForm button[type="submit"]{
font-size: 17px  !important;
font-weight: 300  !important; 
}
.contact_btns a p{
font-weight: 600  !important;
}

.properties-cont, .video .properties-cont{
flex-direction: column-reverse;
}
.properties_slider, .properties_content {
    width: 100%;
}
.properties_content, .video-cont{
padding: 0 5%;
width: 90%;
}
#sectionForm{
flex-direction: column;
}
#sectionForm img{
width: 100%;
}
#sectionForm form{
width: 80%;
}
.balam-shvav h2{
 width: 90%;
margin-right: auto;
margin-left: auto;
}
.main-banner{
padding: 25px 0;
}
.properties_content h3{
text-align: center;
}
.section_contact {
max-width: 100%;
}
.contact_btns .card{
padding: 10px;
width: 40%;
}
.contact_btns a p{
word-wrap: break-word;   /* allows long words to break */
  overflow-wrap: break-word; /* ensures compatibility */
  white-space: normal;     /* ensures it can wrap */
}


}

.grecaptcha-badge{
  display: none !important;
}

#form-status{
  margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
#form-status.success{
    color: #16415F;
    border: 1px solid #16415F;
}
#form-status.error{
    color: red;
    border: 1px solid red;
}

.fade-up {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.in-view {
  opacity: 1;
  transform: translateY(0);
}